html
  height: 100%
  font-size: $font-size-root
  +media-query(media-larger)
    font-size: $font-size-root-pc
body
  background-color: $bg-color-base
  color: $font-color-base
  font-family: $font-family-base
  font-size: $font-size-base
  text-align: justify
  font-feature-settings: 'pkna'
  word-wrap: break-word
  letter-spacing: $letter-spacing-base
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  link-variation: $primary-color-shade false
  vertical-rhythm: true
  min-height: 100%
  display: flex
  flex-flow: column nowrap
a
  transition-timing-function: ease
  transition-duration: 0.3s
  transition-property: all
