extends /layouts/_base
//- ============================================================
block append variables
  //- Required
  - var pageTitle= "Canvas"
  //- Optional
  - var pageDescription= ""
  - var pageLang= ""
  - var pageOgpImage= ""
  - var pageOgpType= ""
  //- Not modified
  - var pageUrl= "/validation.html"
//- ============================================================
block append css
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css")
block append js
//- ============================================================
block content
  main.l-main.container.break-js
    article.l-main_container
      canvas#canvas
