extends /layouts/_base
//- ============================================================
block append variables
  - var blocks = ['text', 'photo', 'photoset', 'quote', 'link', 'chat', 'video', 'audio', 'answer']
//- ============================================================
block append css
block append js
//- ============================================================
block content
  main.l-main.autopagerize_page_element(role='main')
    .l-main_container
      include /modules/_displayNotes

      each block in blocks
        = t.b.__Posts
        article(class=`m-post ${t.TagsAsClasses}`)
          include /modules/_postHeader

          //- blocks
          case block
            when 'text'
              include /blocks/_text
            when 'photo'
              include /blocks/_photo
            when 'photoset'
              include /blocks/_photoset
            when 'quote'
              include /blocks/_quote
            when 'link'
              include /blocks/_link
            when 'chat'
              include /blocks/_chat
            when 'video'
              include /blocks/_video
            when 'audio'
              include /blocks/_audio
            when 'answer'
              include /blocks/_answer

          include /modules/_contentSource
          include /modules/_postFooter
        = t.b.Posts__
  include /modules/_paging
