extends /layouts/_base
//- ============================================================
block append variables
  //- Required
  - var pageTitle= "Video"
  //- Optional
  - var pageDescription= ""
  - var pageLang= ""
  - var pageOgpImage= ""
  - var pageOgpType= ""
  //- Not modified
  - var pageUrl= "/video.html"
//- ============================================================
block append css
  style.
    .preview button{
    cursor: pointer;
    }
    #modal {
      display: none;
      width: 400px;
      height: 300px;
      margin: 0;
      padding: 0;
      background-color: #ffffff;
      color: #666666;
      position:fixed;
      z-index: 2;
    }
    #modal-overlay {
      display:none;
      width:100%;
      height:100%;
      background-color: rgba(0,0,0,0.5);
      position:fixed;
      top:0;
      left:0;
      z-index: 1;
    }
block append js
//- ============================================================
block content
  main#contWrap.l-main
    #detailProgramWrap.clr.l-main_container
      form(name="frm1")
        #detailProgramRight
          .detailProgramCont
            .formSet.clr
              p.formSetLeft
                span.requiredEntry ※必須項目
                | 音声/動画
              .formSetRight
                input(type="radio" id="radio02-1" value="1" name="sound_video" checked="checked")
                label(for="radio02-1") 音声 &nbsp;&nbsp;&nbsp;
                input(type="radio" id="radio02-2" value="2" name="sound_video")
                label(for="radio02-2") 動画
            .formSet.clr
              p.formSetLeft iPhone用音源データURL
              .formSetRight.dataUrlForm
                input(type="text" value="img/sample_v1.mp4" id="" name="iphone_url" class="inputText")
            .formSet.clr
              p.formSetLeft iPhone用HLSデータURL
              .formSetRight.dataUrlForm
                input(type="text" value="https://d2zihajmogu5jn.cloudfront.net/bipbop-advanced/bipbop_16x9_variant.m3u8" id="" name="hls_url_ios" class="inputText")
              p.formSetLeft Android用音源データURL
              .formSetRight.dataUrlForm
                input(type="text" value="img/sample_v2.mp4" id="" name="android_url" class="inputText")
              p.formSetLeft Android用HLSデータURL
              .formSetRight.dataUrlForm
                input(type="text" value="https://onsen-dl.sslcs.cdngc.net/hls/tonsoku170206hr5d-06-2/tonsoku170206hr5d-06-2.m3u8" id="" name="hls_url_android" class="inputText")
              //- video(id="test1" class="video-js" controls preload="auto" width="400" height="300")
              //-   source(src="https://onsen-dl.sslcs.cdngc.net/radio/chauradi170208Fs7y.mp4" type="	video/mp4")
              //- script.
              //-   videojs("test1",  {}, function(){});
              #modal
                .modal-contents
