$font-size-root         = 62.5%
$black-base             = $mdc-grey.b900
$amount-base            = 33%
$white-base             = $mdc-grey.b50
$bg-color-base          = tint($mdc-amber.b50, $amount-base * 2)
$bg-object-base         = tint($bg-color-base, $amount-base * 2)
$font-color-base        = shade($mdc-brown.b900, $amount-base)
$grey-base              = mix($black-base, $white-base, 50%)
$color-base             = $mdc-red.a700
$bg-color-emphasis      = tint($color-base, round($amount-base * 2.5))
$alpha-density          = 0.62
$ratio-base             = 1.4
$font-size-base         = 1.5rem
$unit-size-base         = $font-size-base * 1.8
$letter-spacing-base    = 0.038em
$font-weight-base       = normal
$font-family-sans-serif = 'Noto Sans', 'Avenir Next', 'Open Sans', 'Helvetica Neue',  Helvetica, Roboto, YakuHanJPs, NotoSansJP-fixed, YuGothic-fixed, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif
$font-family-serif      = 'Noto Serif', 'Times New Roman', 'Roboto Slab', Garamond, YakuHanJPs, NotoSerifJP-fixed, YuMincho-fixed, 'Hiragino Mincho ProN', serif
$font-family-monospace  = 'Source Code Pro', Inconsolate, 'Source Han Code JP', Myrica, CodeM, Ricty, Menlo, 'Dejavu Sans Mono', 'Ubuntu Mono', Consolas,  monospace
$font-family-fantasy    = 'Montserrat', 'AvenirNext-Heavy', 'Arial Black', fantasy
$font-family-base       = $font-family-sans-serif
