.o-blogFooter
  background: $primary-color-tint
  link-variation: $white-base true
  vertical-rhythm: true
  text-align: right
  z-depth: 1
.o-blogFooter_copyright
  font-weight: 700
  font-family: $font-family-fantasy
