.o-postFooter
  rhythmical-margin: 0 0.125 0 0.125
  +media-query(media-medium)
    rhythmical-margin: 0 0.25 0 0.25
.o-postFooter_postSource
  // border: 1px solid $black-base
  border-radius: 3px
  background: $grey-tint
  rhythmical-padding: 0.125 0.125 0.125 0.125
  margin-bottom: rhythmical-space(0.5)
  +media-query(media-medium)
    rhythmical-padding: 0.25 0.25 0.25 0.25
  .postSource_reblog
    .reblog_parentName
      // display: none
    .reblog_rootName
      // display: none
.o-postFooter_notesSection
  text-align: right
  &.is-permalink
    text-align: left
  .notesSection_count
    font-weight: bold
    link-variation: $font-color-base true
  .notesSection_list
    li
      border-bottom: 1px dashed $grey-base
    img.avatar
      margin-right: 0.25em
.o-postFooter_socialBtns
  .socialBtns_items
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center
    list-style: none
    margin-bottom: 0
    border: 1px solid $black-base
    border-radius: 3px
    background: $white-base
    height: 43px
    &.is-permalink
      fixed: bottom left
      width: 100%
      z-index: 100
      z-depth: 1
      margin: 0
      border: 0
      border-radius: 0
      +media-query(media-medium)
        position: inherit
        width: inherit
        z-index: inherit
        z-depth: 0
        margin: inherit
        border: 1px solid $black-base
        border-radius: 3px
      .socialBtns_item
        border-right: none
        +media-query(media-medium)
          border-right: 1px solid $black-base
  .socialBtns_item
    align-self: stretch
    text-align: center
    flex-grow: 1
    padding-top: 8px
    padding-bottom: 8px
    border-right: 1px solid $black-base
    // :not(:last-child) can not be used, because of media-query
    &:last-child
      border-right: none
    amp-social-share
      display: block
      margin: auto
      // width:33px
      &[type=tumblr]
        color: $ssc.Tumblr
        background: $white-base url( 'https://cdnjs.cloudflare.com/ajax/libs/simple-icons/3.0.1/tumblr.svg' )
      &[type=hateb]
        color: $ssc.Hatena_Bookmark
        background: $white-base url( 'https://cdnjs.cloudflare.com/ajax/libs/simple-icons/3.0.1/hatenabookmark.svg' )
      &[type=twitter]
        color: $ssc.Twitter
        background: $white-base url( 'https://cdnjs.cloudflare.com/ajax/libs/simple-icons/3.0.1/twitter.svg' )
      &[type=facebook]
        color: $ssc.Facebook
        background: $white-base url( 'https://cdnjs.cloudflare.com/ajax/libs/simple-icons/3.0.1/facebook.svg' )
      &[type=line]
        color: $ssc.Line
        background: $white-base url( 'https://cdnjs.cloudflare.com/ajax/libs/simple-icons/3.0.1/line.svg' )
      &[type=pocket]
        color: $ssc.Pocket
        background: $white-base url( 'https://cdnjs.cloudflare.com/ajax/libs/simple-icons/3.0.1/pocket.svg' )
    // &.is-hateb
    // &.is-twitter
    // &.is-fb
    // &.is-line
    // &.is-pocket
    // &.is-gplus
