.o-sidebar
  width: 38.2%
  background: $black-base
  z-depth: 2
  position: relative
  rhythmical-padding: 0.5 1 0.5 1
.o-sidebar_btn
  color: $white-base
  rhythmical-padding: 0 0.25 0 0.25
.o-sidebar_title
  font-family: 'Montserrat Subrayada'
.o-sidebar_items
.o-sidebar_item
  rhythmical-padding: 0.25 0.25 0.25 0.25
  link-variation: $white-base true
  border-bottom: 1px solid $white-base
.o-sidebar_accordion
  color: $white-base
  link-variation: $white-base true
  .o-sidebar_accordionTitle
    background: $black-base
    border: 0
    outline: 0
.o-sidebar_tags
  margin-left: rhythmical-space(0.5)
  & > li
    color: $white-base
    display: inline-block
    margin-right: 0.5rem
    max-width: 100%
    text-align: left
    .o-sidebar_tag
      &:before
        content: '#'
// .o-sidebar_bottom
//   border: 1px solid $white-base
//   border-radius: 4px
//   rhythmical-padding: 0.25 0.5 0.25 0.5
//   color: $white-base
//   width: 61.8%
//   margin: 0 auto
//   absolute: left 0 right 0 bottom rhythmical-space(1)
//   font-size: 1.1rem
//   font-weight: bold
//   display: flex
//   align-items: center
//   justify-content: center
