.thumb li
  float: left
  width: 300px
  height: 300px
  position: relative
  overflow: hidden
  border: 3px solid #000

.thumb li a img
  object-fit: cover
  width: inherit
  height: inherit


.object-fit-img
  object-fit: cover
  // object-position: bottom
  font-family: 'object-fit: cover;'

header
  width: 100vw
  background: $accent-2nd-tint
  rational-padding: 1
  li
    float: left
    margin-left: 2em
article
  rational-margin: 1
  h1
    bold-smooth: true
    font-size: $x-large
    display: flex
    align-items: center
    text-align: center
    justify-content: center
    rational-margin: 1 0 1 0
    &:before,
    &:after
      content: ''
      flex-grow: 1
      height: 3px
      background: $base-gray
      min-width: 20px
      display: inline-block
      vertical-align: middle
     &:before
      margin-right: $base-font-size
     &:after
      margin-left: $base-font-size
  h2
    bold-smooth: true
    font-size: $large
    border-left: ($base-font-size / 2) solid $base-black
    padding-left: ($base-font-size / 2)
    background-color: #E0E0E0
    rational-margin: 1 0 1 0
  h3
    bold-smooth: true
    font-size: $large
    border-left: ($base-font-size / 2) solid $base-black
    border-bottom: 2px solid $base-gray
    padding-left: ($base-font-size / 2)
    rational-margin: 1 0 1 0
  h4
    bold-smooth: true
    font-size: $large
    border-left: ($base-font-size / 2) solid $base-black
    padding-left: ($base-font-size / 2)
    rational-margin: 1 0 1 0
  h5
    bold-smooth: true
    border-left: ($base-font-size / 4) solid $base-black
    padding-left: ($base-font-size / 4) * 3
    rational-margin: 1 0 1 0
  h6
    bold-smooth: true
    padding-left: $base-font-size
    rational-margin: 1 0 1 0
.clearfix
  clear: fix
