.l-header
  width: 100vw
  // background: $primary-color-tint
  background: $black-base
  link-variation: $white-base true
  rhythmical-padding: 0.5 0 0.5 0
  vertical-rhythm: true
  z-index: 100
  z-depth: 1
  fixed: top left
.l-header_container
  margin-left: rhythmical-space(0.25)
  margin-right: rhythmical-space(0.25)
  +media-query(media-medium)
    margin-left: rhythmical-space(0.5)
    margin-right: rhythmical-space(0.5)
  +media-query(media-larger)
    width: 960px
    margin-left: auto
    margin-right: auto
    padding-left: rhythmical-space(1)
    padding-right: rhythmical-space(1)
  ul
    display: flex
    flex-flow: row nowrap
    justify-content: flex-start
    align-items: center
    list-style: none
    margin-bottom: 0
    li
      align-self: stretch
      &:not(:first-child)
        margin-left: 1rem
