.l-footer
  width: 100%
  rhythmical-padding: 0.5 0 0.5 0
.l-footer_container
  margin-left: rhythmical-space(0.25)
  margin-right: rhythmical-space(0.25)
  +media-query(media-medium)
    margin-left: rhythmical-space(0.5)
    margin-right: rhythmical-space(0.5)
  +media-query(media-larger)
    width: 960px
    margin-left: auto
    margin-right: auto
    padding-left: rhythmical-space(1)
    padding-right: rhythmical-space(1)
  &.is-permalink
    padding-bottom: 44px
    +media-query(media-medium)
      padding-bottom: 0
