.l-main
  // for fixing main content at middle
  flex: 1
  // padding-top: rhythmical-space(2)
.l-main_container
  margin-left: rhythmical-space(0.25)
  margin-right: rhythmical-space(0.25)
  +media-query(media-medium)
    margin-left: rhythmical-space(0.5)
    margin-right: rhythmical-space(0.5)
  +media-query(media-larger)
    width: 960px
    margin-left: auto
    margin-right: auto
    padding-left: rhythmical-space(1)
    padding-right: rhythmical-space(1)
