@charset 'utf-8'
// ============================================================
// Frameworks and Plugins for it with formatting
// ============================================================
@import 'kouto-swiss'
meyer-reset()
box-sizing-reset()
// ============================================================
// import 3rd party plugins
// ============================================================
if !$useCDN
  @import '../../build/css/plugins/*.css'
// follows FLOCSS design concept
// ============================================================
// Foundation settings *order sensitive*
// ============================================================
@import 'foundation/_fonts'
@import 'foundation/_colors'
@import 'foundation/_variables'
@import 'foundation/_mixins'
@import 'foundation/_base'
// ============================================================
// Layouts
// ============================================================
@import 'layouts/*'
// ============================================================
// Objects
// ============================================================
@import 'objects/**/*'
