block variables
doctype html
html(amp lang="ja")
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# {block:IndexPage}blog: http://ogp.me/ns/blog# {/block:IndexPage}{block:PermalinkPage}article: http://ogp.me/ns/article# {PostID}{/block:PermalinkPage}")
    include /modules/_meta
    include /modules/_schema
    include /modules/_css
  body(class='{block:IndexPage}page-index{/block:IndexPage}{block:PermalinkPage}page-permalink page-{PostID}{/block:PermalinkPage}')
    include /modules/_analytics

    include /layouts/_header
    include /layouts/_sidebar

    block content

    include /layouts/_footer
    include /modules/_js
