block variables
doctype html
html(lang="ja")
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# {block:IndexPage}blog: http://ogp.me/ns/blog# {/block:IndexPage}{block:PermalinkPage}article: http://ogp.me/ns/article# {PostID}{/block:PermalinkPage}")
    include /modules/_meta
    include /modules/_css
  //- TODO: 状況によってbodyにクラスをつけかえる必要があるのか
  body(class='{block:IndexPage}page-index{/block:IndexPage}{block:PermalinkPage}page-permalink page-{PostID}{/block:PermalinkPage}')
    include /layouts/_header

    //- block prepend content
    //-   include /layouts/_nav
    block content

    include /layouts/_footer
    include /modules/_js
