footer.l-footer.m-blogFooter
  div(class=`l-footer_container ${t.b.__PermalinkPage}is-permalink${t.b.__PermalinkPage}`)
    span.m-blogFooter_copyright
      | &copy;#{t.CopyrightYears} #{t.Title} by solunita.net
