footer.l-footer.o-blogFooter
  div(class=`l-footer_container ${t.b.__PermalinkPage}is-permalink${t.b.PermalinkPage__}`)
    span.o-blogFooter_copyright
      | &copy;#{t.CopyrightYears} #{t.Title} by solunita.net
