header.l-header.o-blogHeader
  h1.o-blogHeader_title
    a(href='/')
      amp-img(src='http://lib.solunita.net/images/trial-and-spiral__logo--no-margin.svg' alt=`${t.Title} Logo` width="101" height="300" layout="responsive" class='o-blogHeader_logo')
  nav.l-header_nav.o-blogHeader_nav.js-headerNav(role='navigation')
    ul.o-blogHeader_items
      li.o-blogHeader_item
        button.o-blogHeader_btn.is-menu(on="tap:sidebar.toggle")
          i.fa.fa-bars &nbsp;
          | MENU
      li.o-blogHeader_item
        form.o-blogHeader_search(method="GET" action="/search" target="_top")
          input.o-blogHeader_searchField(type="search" placeholder="Search..." name="q" value="{SearchQuery}")
          button.o-blogHeader_btn.is-search.fa(type="submit") &#xf002;
  = t.b.__Description
  amp-fit-text.o-blogHeader_description(height="16" min-font-size="12" layout="fixed-height") #{t.Description}
  = t.b.Description__
