header.l-header
  .l-header_container
    ul
      li: a(href="/index.html")
        | Home
      li: a(href="/wiki/")
        | Aquiå¼Wiki
      li: a(href="/styleguide")
        | Styleguide
      li: a(href="/video.html")
        | Video
    .clearfix
