header.l-header
  h1.blog-title
    a(href='/') {Title}
  |       {block:Description}
  h2.blog-description {Description}
  |       {/block:Description}
  nav.nav(role='navigation')
    ul
      li
        a(href='/') Home
      |         {block:HasPages}
      |           {block:Pages}
      li
        a(href='{URL}') {Label}
      |           {/block:Pages}
      |         {/block:HasPages}
      li
        a(href='/archive') Archive
