header.l-header
  h1.blog-title
    a(href='/') #{t.Title}
  = t.b.__Description
  h2.blog-description #{t.Description}
  = t.b.Description__
  nav.nav(role='navigation')
    ul
      li
        a(href='/') Home
      = t.b.__HasPages
      =   t.b.__Pages
      li
        a(href='{URL}') #{t.Label}
      =   t.b.Pages__
      = t.b.HasPages__
      li
        a(href='/archive') Archive
