header.l-header.m-blogHeader
  h1.m-blogHeader_title
    a(href='/')
      img(src='http://lib.solunita.net/images/trial-and-spiral__logo--no-margin.svg' alt=`${t.Title} - ${t.Description}` class='m-blogHeader_logo')
  nav.l-header_nav.m-blogHeader_nav.js-headerNav(role='navigation')
    ul.m-blogHeader_list
      li.m-blogHeader_listItem
        a(href='/') Home
      = t.b.__HasPages
      =   t.b.__Pages
      li.m-blogHeader_listItem
        a(href='{URL}') #{t.Label}
      =   t.b.Pages__
      = t.b.HasPages__
      li.m-blogHeader_listItem
        a(href='/archive') Archive
      li.m-blogHeader_listItem
        a(href='/search') Search
  = t.b.__Description
  h2.m-blogHeader_description.js-headerDescription #{t.Description}
  = t.b.Description__
