amp-sidebar#sidebar.o-sidebar(layout="nodisplay" side="left")
  button.o-sidebar_btn(on="tap:sidebar.close")
    i.fa.fa-times
  //- p.o-sidebar_title
  //-   | TRIAL &amp; SPIRAL
  ul.o-sidebar_items
    li.o-sidebar_item: a(href="/")
      i.fa.fa-fw.fa-home
      | &nbsp;Home
    li.o-sidebar_item: a(href="/about")
      i.fa.fa-fw.fa-id-card
      | &nbsp;About
    //- = t.b.__HasPages
    //- =   t.b.__Pages
    //- li.o-sidebar_item: a(href='{URL}') #{t.Label}
    //- =   t.b.Pages__
    //- = t.b.HasPages__
    //- li.o-sidebar_item
      amp-accordion.o-sidebar_accordion
        section
          span.o-sidebar_accordionTitle
            i.fa.fa-angle-right &nbsp; 人気のある記事
          ul.o-sidebar_tags
            li: a.o-sidebar_tag(href="") 1
            li: a.o-sidebar_tag(href="") 2
    li.o-sidebar_item
      amp-accordion.o-sidebar_accordion
        section
          h3.o-sidebar_accordionTitle
            i.fa.fa-fw.fa-angle-right &nbsp;
            i.fa.fa-fw.fa-tags
            | &nbsp;Tags
          ul.o-sidebar_tags
            li: a.o-sidebar_tag(href="/tagged/Announce（通知）") Announce（通知）
            li: a.o-sidebar_tag(href="/tagged/App") App
            li: a.o-sidebar_tag(href="/tagged/Book（書籍）") Book（書籍）
            li: a.o-sidebar_tag(href="/tagged/Broadcast（放送）") Broadcast（放送）
            li: a.o-sidebar_tag(href="/tagged/Craft（工芸）") Craft（工芸）
            li: a.o-sidebar_tag(href="/tagged/Customize（設定）") Customize（設定）
            li: a.o-sidebar_tag(href="/tagged/Develop（開発）") Develop（開発）
            li: a.o-sidebar_tag(href="/tagged/Equipment（装備）") Equipment（装備）
            li: a.o-sidebar_tag(href="/tagged/Gadget（道具）") Gadget（道具）
            li: a.o-sidebar_tag(href="/tagged/Game（ゲーム）") Game（ゲーム）
            li: a.o-sidebar_tag(href="/tagged/Hack（駆使）") Hack（駆使）
            li: a.o-sidebar_tag(href="/tagged/iPhone") iPhone
            li: a.o-sidebar_tag(href="/tagged/Journey（旅行）") Journey（旅行）
            li: a.o-sidebar_tag(href="/tagged/Life（生活）") Life（生活）
            li: a.o-sidebar_tag(href="/tagged/Mac") Mac
            li: a.o-sidebar_tag(href="/tagged/Miscellany（雑記）") Miscellany（雑記）
            li: a.o-sidebar_tag(href="/tagged/Music（音楽）") Music（音楽）
            li: a.o-sidebar_tag(href="/tagged/Review（論評）") Review（論評）
            li: a.o-sidebar_tag(href="/tagged/Tumblr") Tumblr
    li.o-sidebar_item: a(href="/photo")
      i.fa.fa-fw.fa-picture-o
      | &nbsp;旅写真
    li.o-sidebar_item: a(href="http://the-excursion-for-me.tumblr.com/")
      i.fa.fa-fw.fa-book
      | &nbsp;旅日記
    li.o-sidebar_item: a(href="/archive")
      i.fa.fa-fw.fa-archive
      | &nbsp;Archive
    li.o-sidebar_item: a(href="/rss")
      i.fa.fa-fw.fa-fw.fa-rss-square
      | &nbsp;RSS
  //- .o-sidebar_bottom
    amp-iframe(class="btn" frameborder="0" border="0" scrolling="no" allowtransparency="true" height="20" width="65" layout="fixed"  src="https://platform.tumblr.com/v2/follow_button.html?type=follow&amp;tumblelog=trial-and-spiral&amp;color=white")
    | &nbsp; this Tumblr
