amp-sidebar#sidebar.m-sidebar(layout="nodisplay" side="left")
  button.m-sidebar_btn(on="tap:sidebar.close")
    i.fa.fa-times
  //- p.m-sidebar_title
  //-   | TRIAL &amp; SPIRAL
  ul.m-sidebar_items
    li.m-sidebar_item: a(href="/")
      i.fa.fa-home &nbsp; Home
    li.m-sidebar_item: a(href="/about")
      i.fa.fa-id-card &nbsp; About
    //- = t.b.__HasPages
    //- =   t.b.__Pages
    //- li.m-sidebar_item: a(href='{URL}') #{t.Label}
    //- =   t.b.Pages__
    //- = t.b.HasPages__
    //- li.m-sidebar_item
      amp-accordion.m-sidebar_accordion
        section
          span.m-sidebar_accordionTitle
            i.fa.fa-angle-right &nbsp; 人気のある記事
          ul.m-sidebar_tags
            li: a.m-sidebar_tag(href="") 1
            li: a.m-sidebar_tag(href="") 2
    li.m-sidebar_item
      amp-accordion.m-sidebar_accordion
        section
          span.m-sidebar_accordionTitle
            i.fa.fa-angle-right &nbsp;
            i.fa.fa-tags &nbsp; Tags
          ul.m-sidebar_tags
            li: a.m-sidebar_tag(href="/tagged/Announce（通知）") Announce（通知）
            li: a.m-sidebar_tag(href="/tagged/App") App
            li: a.m-sidebar_tag(href="/tagged/Book（書籍）") Book（書籍）
            li: a.m-sidebar_tag(href="/tagged/Broadcast（放送）") Broadcast（放送）
            li: a.m-sidebar_tag(href="/tagged/Craft（工芸）") Craft（工芸）
            li: a.m-sidebar_tag(href="/tagged/Customize（設定）") Customize（設定）
            li: a.m-sidebar_tag(href="/tagged/Develop（開発）") Develop（開発）
            li: a.m-sidebar_tag(href="/tagged/Equipment（装備）") Equipment（装備）
            li: a.m-sidebar_tag(href="/tagged/Gadget（道具）") Gadget（道具）
            li: a.m-sidebar_tag(href="/tagged/Game（ゲーム）") Game（ゲーム）
            li: a.m-sidebar_tag(href="/tagged/Hack（駆使）") Hack（駆使）
            li: a.m-sidebar_tag(href="/tagged/iPhone") iPhone
            li: a.m-sidebar_tag(href="/tagged/Journey（旅行）") Journey（旅行）
            li: a.m-sidebar_tag(href="/tagged/Life（生活）") Life（生活）
            li: a.m-sidebar_tag(href="/tagged/Mac") Mac
            li: a.m-sidebar_tag(href="/tagged/Miscellany（雑記）") Miscellany（雑記）
            li: a.m-sidebar_tag(href="/tagged/Music（音楽）") Music（音楽）
            li: a.m-sidebar_tag(href="/tagged/Review（論評）") Review（論評）
            li: a.m-sidebar_tag(href="/tagged/Tumblr") Tumblr
    li.m-sidebar_item: a(href="/photo")
      i.fa.fa-picture-o &nbsp; 旅写真
    li.m-sidebar_item: a(href="http://the-excursion-for-me.tumblr.com/")
      i.fa.fa-book &nbsp; 旅日記
    li.m-sidebar_item: a(href="/archive")
      i.fa.fa-archive &nbsp; Archive
    li.m-sidebar_item: a(href="/rss")
      i.fa.fa-rss-square &nbsp; RSS
