amp-analytics(type="googleanalytics" id="analytics1")
  script(type="application/json").
    {"vars": {
      "account": "{text:AnalyticsId}"
    },
    "triggers": {
      "trackPageview": {
        "on": "visible",
        "request": "pageview"
        }
      }
    }
