block css
  if useCDN
    link(rel="stylesheet" href=`${settings.cdn.highlight.css}`)
    link(rel="stylesheet" href=`${settings.cdn.yakuhan.css}`)
    link(rel="stylesheet" href=`${settings.cdn.fontawesome.css}`)
  link(rel="stylesheet" href="/css/style.css")
  | {CustomCSS}
