= t.b.__TagPage
h2.tagged タグ "#{t.Tag}" が付けられた記事
= t.b.TagPage__

= t.b.__SearchPage
h2 "#{t.SearchQuery}"の検索結果: #{t.SearchResultCount} 件
= t.b.SearchPage__

= t.b.__NoSearchResults
p 該当する記事は見つかりませんでした
= t.b.NoSearchResults__
