block js
  if useCDN
    script(src=`${settings.cdn.jquery.js}`)
    script(src=`${settings.cdn.highlight.js}`)
    script(src=`${settings.cdn.ofi.js}`)
  script(src="./js/bundle.js")
  | {block:IfEnableLikeButton}
    #fb-root
    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
  | {/block:IfEnableLikeButton}
