| {block:Answer}
.entry-content
  .question.bubble
    | {Question}
  .asker-group
    img(src='{AskerPortraitURL-24}', width='24', height='24')
    | {Asker}
  .answer.cont {Answer}
| {/block:Answer}
