= t.b.__Answer
.o-postBlock.is-answer
  .question.bubble
    = t.Question
  .asker-group
    img(src=`${t.AskerPortraitURL_24}`, width='24', height='24')
    = t.Asker
  .answer.cont {Answer}
= t.b.Answer__
