= t.b.__Link
.o-postBlock.is-link
  .o-postBlock_link
    a.o_postBlock_linkUrl(href=`${t.URL}`) #{t.Name}
  .o-postBlock_content
    = t.b.__Description
    .o-postBlock_linkDescription #{t.Description}
    = t.b.Description__
= t.b.Link__
