= t.b.__Link
header.entry-header
  h1.entry-title
    a.link-url(href=`${t.URL}`, {target}='') #{t.Name}
.entry-content
  = t.b.__Description
  .link-description #{t.Description}
  = t.b.Description__
= t.b.Link__
