if isProduction
  - var postType = t.PostType;
else
  - var postType = photo;
//- ------------------------------------------------------------
= t.b.__Photo
div(class=`o-postBlock is-${postType}`)
  = t.LinkOpenTag
  img(src=`${PhotoURL-HighRes}`, alt=`${PhotoAlt}`)
  = t.LinkCloseTag
  = t.b.__Caption
  .caption
    = t.Caption
  = t.b.Caption__
= t.b.Photo__
