= t.b.__Quote
.o-postBlock.is-quote
  blockquote(class=`o-postBlock_quote is-${t.Length}`)
    i.fa.fa-quote-left
    = t.Quote
    i.fa.fa-quote-right
  = t.b.__Source
  .o-postBlock_quoteSource
    = t.Source
  = t.b.Source__
= t.b.Quote__
