div(class=`m-postBlock is-${t.PostType}`)
  = t.b.__Quote
  .entry-content(class=`${t.Length}`)
    blockquote “#{t.Quote}”
    = t.b.__Source
    .quote-source
      = t.Source
    = t.b.Source__
  = t.b.Quote__
