.c-entry.is-text
  = t.b.__Text
  header.c-entry_header
    = t.b.__Title
    h1.entry_header_title
      a(href=`${t.Permalink}`) #{t.Title}
    = t.b.Title__
  .c-entry_content
    != t.Body
  = t.b.Text__
