.o-postHeader
  display: flex
  flex-flow: column-reverse nowrap
  justify-content: flex-start
  align-items: center
  rhythmical-margin: 0 0.125 0 0.125
  +media-query(media-medium)
    flex-flow: row nowrap
    rhythmical-margin: 0 0.25 0 0.25
.o-postHeader_tags
  margin-right: auto
  & > *
    margin-right: 0.5rem
.o-postHeader_tag
  display: inline-block
  &:before
    content: '#'
.o-postHeader_date
  align-self: stretch
  white-space: nowrap
