article
  border-radius: 2px
  background-color: $bg-object-base
  rhythmical-padding: 0.5 0 0.5 0
  rhythmical-margin: 1 0.25 1 0.25
  vertical-rhythm: true
  z-depth: 1
  h1
    text-bold: true
    font-size: $font-size-x-large
    display: flex
    align-items: center
    text-align: center
    justify-content: center
    vertical-rhythm: true
    rhythmical-margin: 0 0 1 0
    &:before,
    &:after
      content: ''
      flex-grow: 1
      height: 3px
      background: $gray-base
      min-width: $unit-size-base
      display: inline-block
      vertical-align: middle
     &:before
      margin-right: $unit-size-base
     &:after
      margin-left: $unit-size-base
