.m-blogHeader
  vertical-rhythm: true
  z-depth: 1
  .m-blogHeader_title
    background: $black-base
    text-align: center
    rhythmical-padding: 0.5 0 0.5 0
    link-fix: true
  .m-blogHeader_logo
    max-height: 192px
  .m-blogHeader_nav
    background: $black-base
    link-variation: $white-base true
  .m-blogHeader_items
    display: flex
    flex-flow: row nowrap
    justify-content: flex-start
    align-items: center
    list-style: none
    margin-bottom: 0
    margin-left: rhythmical-space(0.25)
    margin-right: rhythmical-space(0.25)
    +media-query(media-medium)
      margin-left: rhythmical-space(0.5)
      margin-right: rhythmical-space(0.5)
    +media-query(media-larger)
      width: 960px
      margin-left: auto
      margin-right: auto
      padding-left: rhythmical-space(1)
      padding-right: rhythmical-space(1)
  .m-blogHeader_item
    align-self: stretch
    margin-right: 1.5rem
    &:first-child
      margin-right: auto
  .m-blogHeader_searchField
    width: $font-size-base * 13
    height: $font-size-base * 1.25
    font-size: $font-size-base
    border-radius: (@height / 2)
    border: 0
    outline: 0
    rhythmical-padding: 0 0.25 0 0.25
  .m-blogHeader_btn
    color: $white-base
    background: $black-base
    border: 1px solid $white-base
    border-radius: 2px
    rhythmical-padding: 0 0.25 0 0.25
  .m-blogHeader_description
    text-align: center
    background: $primary-color-tint
