.m-postHeader
  display: flex
  flex-flow: row nowrap
  justify-content: flex-start
  align-items: center
  rhythmical-margin: 0 0.125 0 0.125
  +media-query(media-medium)
    rhythmical-margin: 0 0.25 0 0.25
  // TODO: スマホの場合は二行に
  .m-postHeader_tags
    margin-right: auto
    & > *
      margin-right: 0.5rem
    .m-postHeader_tag
      &:before
        content: '#'
  .m-postHeader_date
    align-self: stretch
    white-space: nowrap
