.m-sidebar
  width: 38.2%
  background: $black-base
  z-depth: 2
  rhythmical-padding: 0.5 1 0.5 1
  .m-sidebar_btn
    color: $white-base
    // border: 1px solid $white-base
    // border-radius: 3px
    rhythmical-padding: 0 0.25 0 0.25
  .m-sidebar_title
    font-family: 'Montserrat Subrayada'
  .m-sidebar_items
    .m-sidebar_item
      link-variation: $white-base true
      border-bottom: 1px solid $white-base
  .m-sidebar_tagBlock
    & > li
      color: $white-base display: inline-block
      margin-right: 0.5rem
      font-size: 1rem
      &:before
        content: '#'
