.object-fit-img
  object-fit: cover
  font-family: 'object-fit: cover'
article
  // rhythmical-margin: 1 0.25 1 0.25
  // +media-query(media-medium)
  //   rhythmical-margin: 1 0.5 1 0.5
  // vertical-rhythm: true
  .color
    li
      height: 300px
      display: inline-block
      margin:0
      padding:0
      overflow: hidden
      text-align: center
    .normalBlock
      width: 65%
    .primaryBlock
      background: $primary-color-base
      width: 15%
    .secondaryBlock
      background: $secondary-color-base
      width: 10%
    .accentBlock
      background: $accent-color-base
      width: 5%
    .primary-text
      color: $primary-color-base
    .primaryTint
      color: $primary-color-tint
    .primaryShade
      color: $primary-color-shade
    .secondary-text
      color: $secondary-color-base
    .secondaryTint
      color: $secondary-color-tint
    .secondaryShade
      color: $secondary-color-shade
    .accent-text
      color: $accent-color-base
    .accentTint
      color: $accent-color-tint
    .accentShade
      color: $accent-color-shade
.clearfix
  clear: fix

.thumb li
  float: left
  width: 300px
  height: 300px
  position: relative
  overflow: hidden
  border: 3px solid #000
.thumb li a img
  object-fit: cove
  width: inherit
  height: inherit
.bgtest
  background: #212121 url(http://lib.solunita.net/images/gitIcon_orange.png) right center / 64px no-repeat
